<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ROADS-DRIVING SCHOOL</title>

  <!-- Custom fonts for this theme -->
  <link href="{{url_for('static' ,filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{{url_for('static',filename='freelancer.css')}}" rel="stylesheet" type="text/css">

</head>
<style type="text/css">
  .but{
    background-color:#bf44e2;
    border-color:white;
    color:white;
  }
  .but:hover{
    background-color:#F8BCFF;
  }
</style>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="background-color: #44cde2 !important;">
    <div class="container" style="background-color: #44cde2;">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">ROADS-DRIVING SCHOOL</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        MENU
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{url_for('index')}}">HOME</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about"></a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"href="{{url_for('contact')}}">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header style="background-color:#44e28f;" class="masthead text-white text-center" >
    <div class="container d-flex align-items-center flex-column" >

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">ROADS- DRIVING SCHOOL</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">20 Years of success in Jerusalem</p>

    </div>
  </header>


  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="color:#5D5D5D! important;"> OUR CLASSES</h2>
      <p></p>
      <center><button onclick="myFunction()" class="but">Lets check if you can drive a car!</button></center> <p></p>
      <script type="text/javascript">
        function myFunction() {
          var year; 
          var month;
          year=prompt("How old are you? (Years)")
          month=prompt("You are "+year+ " old and how many month?")
          if (year>16 || (year=16 && month>=9)){
            alert("Yay you can drive a car!")
          }
          else if(isNaN(year)|| isNaN(month)) {
            alert("Nice try!")
            
          }
          else{
            alert("I'm sorry but you can not drive a car. Check again soon!")
          }
        }

      </script>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 Car -->
        <div class="col-md-6 col-lg-4" >
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/car1.jpeg" alt="" style="height:350px !important;">
          <div>
            <h3><span style="color:#5D5D5D;">{{data[0].name}}
              <br>
            {{data[0].price}} NIS per lesson<br>
            You can start taking lessons from the age of {{data[0].age}}
            </h3></span>
            
          </div>


          </div>
        </div>

        <!-- Portfolio Item 2 motorcycle-->
        <p></p>
        <div class="col-md-6 col-lg-4" style="margin-top:38px;">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/moto.jpeg" alt="">
            <div>
            <h3><span style="color:#5D5D5D;">{{data[1].name}}
              <br>
            {{data[1].price}} NIS per lesson<br>
            You can start taking lessons from the age of {{data[1].age}}
            </h3></span>
            
          </div>
          </div>
        </div>

        <!-- Portfolio Item 3-Van -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/van.jpeg" alt="" style="height:350px !important;">
                        <div>
            <h3><span style="color:#5D5D5D;">{{data[2].name}}
              <br>
            {{data[2].price}} NIS per lesson<br>
            You can start taking lessons from the age of {{data[2].age}}
            </h3></span>
            
          </div>
          </div>
        </div>

    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about" style="background-color: #44e28f !important;">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">ABOUT

      </h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Roads is a driving school located in Jerusalem with more that 100 teachers and 10,000 students. We teach all kinds of Vehicles including cars, vans and motorcycle.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">We promise to be help you until the final test and even after! Call us for more information +9725466632 or just click <a href="{{url_for('contact')}}" style="color:white ! important;">here</a> to leave us an email </p>
      </div>

    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

  <!-- Footer -->
  <footer class="footer text-center" style="background-color:#bf44e2 ! important;">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Wales<p class="lead mb-0">Llantwit Major</p> 
            <p class="lead mb-0">St Donats Castel</p>
            <p class="lead mb-0"> Gwynedd House!</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white" style="background-color:#5D5D5D !important;">
    <div class="container">
      <small>&copy; Danielle Weiss 2020</small>
    </div>
  </section>
</body>
</html>